.google-container {
    position: relative;
    width: 150vh;
    border-radius: 30px;
    height:80vh;
    left:10%;
    top:15vh;
    justify-content: center;
}

  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 8px solid red;
    width: 8px;
    height: 8px;
  }
  
  .marker::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid red;
  }

  .wantToVisit {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 8px solid green;
    width: 8px;
    height: 8px;
  }
  
  .wantToVisit::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid green;
  }



  .goingTo {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 8px solid blueviolet;
    width: 8px;
    height: 8px;
  }
  
  .goingTo::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid blueviolet;
  }

